@model IEnumerable<DMV.Models.Person>

@{
    ViewBag.Title = "Awaiting";
}

<h2>Awaiting Address Changes</h2>

<br />
<div class="table-div">
  
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ID) </th>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.DOB)</th>
            <th>@Html.DisplayNameFor(model => model.rAddress)</th>
            <th>@Html.DisplayNameFor(model => model.CSZ)</th>
            <th>@Html.DisplayNameFor(model => model.County)</th>
            <th>@Html.DisplayNameFor(model => model.nAddress)</th>
            <th>@Html.DisplayNameFor(model => model.nCSZ)</th>
            <th>@Html.DisplayNameFor(model => model.nCounty)</th>
            <th>@Html.DisplayNameFor(model => model.sDate)</th>
        </tr>


        @foreach (var item in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ID) </td>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                    <td>@Html.DisplayFor(modelItem => item.rAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.CSZ)</td>
                    <td>@Html.DisplayFor(modelItem => item.County)</td>
                    <td>@Html.DisplayFor(modelItem => item.nAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.nCSZ)</td>
                    <td>@Html.DisplayFor(modelItem => item.nCounty)</td>
                    <td>@Html.DisplayFor(modelItem => item.sDate)</td>
                </tr>
                }
            </table>
</div>