<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/myStyle.css" />
</head>
<body>

    @*This is the layout of the land, basically, it apart of all pages, where the user can navigate through the displays of product to view items at their leirsure*@

    @{// dont actually need this I just found out. 
        int defaultPage = 1;
    }
    <div class="navbar navbar-default navbar-fixed-top gradient">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Adventure Works 2014", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--Bikes category-->
                    @*here is the drop menu, first we have the four main drop downs followed by their subcategory*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bikes<span class="caret"></span></a>
                        <ul class="dropdown-menu gradient">
                            <li>@Html.ActionLink("Display All", "BikeProducts", "Home", null, null)</li>2
                            <li>@Html.ActionLink("Mountain Bikes", "BikeProducts", "Home", new { subCategory = "Mountain", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Road Bikes", "BikeProducts", "Home", new { subCategory = "Road", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Touring Bikes", "BikeProducts", "Home", new { subCategory = "Touring", defaultPage }, null)</li>
                        </ul>
                    </li>
                    <!--Clothings-->
                    @*Features includes a display all or a dislplay by subcategory, for all kinds of users*@ 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothing<span class="caret"></span></a>
                        <ul class="dropdown-menu gradient">
                            <li>@Html.ActionLink("Display All", "ClothingProduct", "Home", new { subCategory = "Display All" }, null)</li>
                            <li>@Html.ActionLink("Bib Shorts", "ClothingProduct", "Home", new { subCategory = "Bib-Shorts"}, null)</li>
                            <li>@Html.ActionLink("Caps", "ClothingProduct", "Home", new { subCategory = "Caps", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Gloves", "ClothingProduct", "Home", new { subCategory = "Gloves", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Jerseys", "ClothingProduct", "Home", new { subCategory = "Jerseys", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Shorts", "ClothingProduct", "Home", new { subCategory = "Shorts", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Socks", "ClothingProduct", "Home", new { subCategory = "Socks", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Tights", "ClothingProduct", "Home", new { subCategory = "Tights", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Vests", "ClothingProduct", "Home", new { subCategory = "Vests", defaultPage }, null)</li>
                        </ul>
                    </li>
                    <!--Accessories for tools-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accessories<span class="caret"></span></a>
                        <ul class="dropdown-menu gradient">
                            <li>@Html.ActionLink("Display All", "AccessProduct", "Home", new { subCategory = "Display All" }, null)</li>
                            <li>@Html.ActionLink("Bike Racks", "AccessProduct", "Home", new { subCategory = "Bike Racks", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Bike Stands", "AccessProduct", "Home", new { subCategory = "Bike Stands", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Bottles and Cages", "AccessProduct", "Home", new { subCategory = "Bottles and Cages", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Cleaners", "AccessProduct", "Home", new { subCategory = "Cleaners", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Fenders", "AccessProduct", "Home", new { subCategory = "Fenders", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Helmets", "AccessProduct", "Home", new { subCategory = "Helmets", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Hydration Packs", "AccessProduct", "Home", new { subCategory = "Hydration Packs", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Lights", "AccessProduct", "Home", new { subCategory = "Lights", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Locks", "AccessProduct", "Home", new { subCategory = "Locks", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Panniers", "AccessProduct", "Home", new { subCategory = "Panniers", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Pumps", "AccessProduct", "Home", new { subCategory = "Pumps", defaultPage }, null)</li>
                            <li>@Html.ActionLink("Tires and Tubes", "AccessProduct", "Home", new { subCategory = "Tires and Tubes", defaultPage }, null)</li>
                        </ul>
                        <!--Add ons to equiments-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Components<span class="caret"></span></a>
                        <ul class="dropdown-menu gradient">
                            <li>@Html.ActionLink("Display All", "ComponentProducts", "Home", new {subCategory = "Display All" }, null)</li>
                            <li>@Html.ActionLink("Handlebars", "ComponentProducts", "Home", new { subCategory = "Handlebars"}, null)</li>
                            <li>@Html.ActionLink("Bottom Brackets", "ComponentProducts", "Home", new { subCategory = "Bottom Brackets" }, null)</li>
                            <li>@Html.ActionLink("Brakes", "ComponentProducts", "Home", new { subCategory = "Brakes" }, null)</li>
                            <li>@Html.ActionLink("Chains", "ComponentProducts", "Home", new { subCategory = "Chains" }, null)</li>
                            <li>@Html.ActionLink("Cranksets", "ComponentProducts", "Home", new { subCategory = "Cranksets"}, null)</li>
                            <li>@Html.ActionLink("Derailleurs", "ComponentProducts", "Home", new { subCategory = "Derailleurs" }, null)</li>
                            <li>@Html.ActionLink("Forks", "ComponentProducts", "Home", new { subCategory = "Forks" }, null)</li>
                            <li>@Html.ActionLink("Headsets", "ComponentProducts", "Home", new { subCategory = "Headsets"}, null)</li>
                            <li>@Html.ActionLink("Mountain Frames", "ComponentProducts", "Home", new { subCategory = "Mountain Frames"}, null)</li>
                            <li>@Html.ActionLink("Pedals", "ComponentProducts", "Home", new { subCategory = "Pedals"}, null)</li>
                            <li>@Html.ActionLink("Road Frames", "ComponentProducts", "Home", new { subCategory = "Road Frames" }, null)</li>
                            <li>@Html.ActionLink("Saddles", "ComponentProducts", "Home", new { subCategory = "Saddles"}, null)</li>
                            <li>@Html.ActionLink("Touring Frames", "ComponentProducts", "Home", new { subCategory = "Touring Frames" }, null)</li>
                            <li>@Html.ActionLink("Wheels", "ComponentProducts", "Home", new { subCategory = "Wheels" }, null)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="shared-layout-body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year ~ Rahevin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("MyScripts", required: false)   
</body>
</html>