@model Final.Models.Item
@section Javascript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Ajax.js")"></script>
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seller.Sellername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.Sellername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

    </dl>
</div>

<div class="row">

    <div class="col-md-6">
        <div id="results" class="btn"></div>
    </div>

</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
@Scripts.Render("~/bundles/jquery")
<script>
    function ajax_call() {
        var id = @Model.ItemID;
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/Items/Bidders/' + id,
            data: { id: id },
            success: displayResults,
            error: errorOnAjax
        });
    }

    function displayResults(data) {
        $('#results').empty();

        var item = document.getElementById("#results");
        data.arr.forEach(function (item) {
            $('#results').append(item);
        })
        console.log(data);
    }

    function errorOnAjax() {
        console.log("An error occurred.");
    }

    window.setInterval(ajax_call(), 5000);
</script>
