@model HW8prac.Models.ArtWork

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArtWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtWorkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
