@model IEnumerable<HW6.Models.Product>

@{ 
    ViewBag.Title = "AccessProduct";
}

<h1>@ViewBag.AcessoriesType</h1>

@*THis is the page that will display the Accessories in a table like format*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandardCost)
        </th>
        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.DiscontinuedDate >= DateTime.Today || item.DiscontinuedDate == null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardCost)
                </td>
                <td>
                    @Html.ActionLink("ProductInfo", "ProductInfo", "Home", new { id = Html.DisplayFor(modelItem => item.ProductID) }, null)
                </td>
            </tr>
        }
    }
</table>